{% extends "base_template.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    {% if backups is defined and backups|length > 0 %}
        {% for backup in backups %}
    <div class="w3-container w3-gray">
        <h2 style="cursor: pointer;" onClick="$('#targetBackup{{backup.id}}').toggleClass('w3-hide');"><i class="fa fa-caret-right"></i> {{backup.name}}</h2>
    </div>
    <div id="targetBackup{{backup.id}}" class="w3-container w3-card-4 w3-white w3-hide">
        <p><a href="/execBackup/{{backup.id}}">Ejecutar backup ahora</a></p>
        <p>{{backup.description}}</p>
    </div>
    <br />
        {% endfor %}
    {% else %}
    No se han definido backups
    {% endif %}


{% endblock %}