{% extends "base_template.html" %}
{% block title %}Nuevo backup{% endblock %}
{% block content %}
    <div class="w3-container w3-gray">
        <h2>Nuevo backup</h2>
    </div>

    <form class="w3-container w3-card-4 w3-white" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label(class_="label-form") }}
            {{ form.name(size=64,class_="input-form") }}<br />
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label(class_="label-form") }}
            {{ form.description(class_="input-form") }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.server.label(class_="label-form") }}
            {{ form.server(class_="input-form") }}<br>
            {% for error in form.server.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.source_dir.label(class_="label-form") }}
            {{ form.source_dir(size=256,class_="input-form") }}<br>
            {% for error in form.source_dir.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.destination_dir.label(class_="label-form") }}
            {{ form.destination_dir(size=256,class_="input-form") }}<br>
            {% for error in form.destination_dir.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.user.label(class_="label-form") }}
            {{ form.user(class_="input-form") }}<br>
            {% for error in form.user.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class_="label-form") }}
            {{ form.password(class_="input-form") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit(class_="w3-btn w3-padding w3-gray") }}
        </p>
    </form>
{% endblock %}